# Ignore specific files and directories

/node_modules
/.pnp
.pnp.js
/coverage
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Custom code section

# Add your custom code above this line

# Ignore .env file
.env